@use "src/utils/styles/colors.scss";
@use "src/utils/styles/screen.scss";

.main {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  box-sizing: border-box;
  .content {
    display: flex;
    @include screen.main-width;
  }
}
