@use "src/utils/styles/colors.scss";
@use "src/utils/styles/screen.scss";

.main {
  display: flex;
  justify-content: center;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include screen.main-width;
  }
}
