@use "src/utils/styles/colors.scss";
@use "src/utils/styles/screen.scss";

.main {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @include screen.main-width;
    .title {
      font-size: 30px;
      font-weight: 700;
      color: colors.$slate-900;
      :global(body.dark) & {
        color: colors.$slate-100;
      }
      transition: color 0.2s ease-in-out;
      @include screen.breakpoint-md {
        font-size: 25px;
      }
    }
    .news-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 10px;
      width: 100%;
      @include screen.breakpoint-md {
        grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
        gap: 20px;
      }
    }
  }
}
