@use "src/utils/styles/colors.scss";
@use "src/utils/styles/screen.scss";

.main {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  padding-top: 100px;
  @include screen.breakpoint-sm {
    padding-top: 120px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include screen.main-width;
    padding: 0 10px;
    gap: 20px;
    width: 100%;
    @include screen.breakpoint-sm {
      gap: 30px;
    }
    .title {
      font-size: 25px;
      font-weight: 700;
      color: colors.$slate-900;
      :global(body.dark) & {
        color: colors.$slate-100;
      }
      width: 100%;
      transition: color 0.2s ease-in-out;
      @include screen.breakpoint-md {
        font-size: 34px;
      }
    }
    .certificates-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .empty {
        display: flex;
        min-height: 400px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .icon {
          width: 150px;
          height: 150px;
          @include screen.breakpoint-sm {
            width: 200px;
            height: 200px;
          }
        }
        .text {
          font-size: 15px;
          font-weight: 700;
          color: colors.$slate-700;
          :global(body.dark) & {
            color: colors.$slate-300;
          }
          transition: color 0.2s ease-in-out;
          @include screen.breakpoint-sm {
            font-size: 18px;
          }
        }
      }
      .certificate {
        display: flex;
        border: 1px solid colors.$blue-600;
        :global(body.dark) & {
          border: 1px solid colors.$blue-500;
        }
        gap: 10px;
        border-radius: 12px;
        padding: 10px;
        transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
        @include screen.breakpoint-sm {
          padding: 30px;
          gap: 30px;
        }
        .image {
          position: relative;
          width: 100%;
          min-width: 100px;
          height: fit-content;
          aspect-ratio: 4/5;
          .img {
            border-radius: 12px;
            border: 1px solid colors.$slate-400;
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .title {
            font-size: 18px;
            font-weight: 700;
            color: colors.$blue-600;
            :global(body.dark) & {
              color: colors.$blue-500;
            }
            transition: color 0.2s ease-in-out;
            @include screen.breakpoint-sm {
              font-size: 24px;
            }
          }
          .date {
            font-size: 15px;
            font-weight: 400;
            color: colors.$slate-800;
            :global(body.dark) & {
              color: colors.$slate-300;
            }
            transition: color 0.2s ease-in-out;
            @include screen.breakpoint-sm {
              font-size: 20px;
            }
          }
          .description {
            font-size: 12px;
            font-weight: 500;
            color: colors.$slate-800;
            :global(body.dark) & {
              color: colors.$slate-300;
            }
            transition: color 0.2s ease-in-out;
            @include screen.breakpoint-sm {
              font-size: 14px;
            }
          }
        }
      }
    }
    .navigation {
      display: flex;
      gap: 20px;
      width: 100%;
      margin-top: 20px;
      align-items: center;
      :global(.keen-slider__slide) {
        display: flex;
        justify-content: center;
      }
      .year {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        color: colors.$slate-800;
        background-color: colors.$slate-100;
        border: 1px solid colors.$slate-300;
        :global(body.dark) & {
          color: colors.$slate-300;
          background-color: colors.$slate-900;
          border: 1px solid colors.$slate-800;
        }
        cursor: pointer;
        border-radius: 8px;
        min-width: 70px;
        min-height: 35px;
        justify-content: center;
        align-items: center;
        transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
        &.active {
          border: 1px solid colors.$blue-600;
          color: colors.$blue-600;
          :global(body.dark) & {
            border: 1px solid colors.$blue-500;
            color: colors.$blue-500;
          }
        }
        &:hover {
          border: 1px solid colors.$blue-600;
          color: colors.$blue-600;
          :global(body.dark) & {
            border: 1px solid colors.$blue-800;
            color: colors.$blue-800;
          }
        }
        @include screen.breakpoint-sm {
          font-size: 20px;
          min-width: 90px;
          min-height: 40px;
        }
      }
      .prev,
      .next {
        cursor: pointer;
        border: none;
        color: colors.$slate-50;
        width: 30px;
        height: 30px;
        min-width: 30px;
        aspect-ratio: 1/1;
        border-radius: 100%;
        background-color: colors.$blue-600;
        :global(body.dark) & {
          background-color: colors.$blue-600;
          color: colors.$slate-300;
        }
        &:hover {
          background-color: colors.$blue-700;
          :global(body.dark) & {
            background-color: colors.$blue-600;
          }
        }
        &:disabled {
          cursor: default;
          background-color: colors.$slate-300;
          color: colors.$slate-50;
          :global(body.dark) & {
            background-color: colors.$slate-900;
            color: colors.$slate-700;
          }
        }
        transition: background-color 0.2s ease-in-out;
        @include screen.breakpoint-sm {
          width: 40px;
          height: 40px;
          min-width: 40px;
          gap: 10px;
        }
        .icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
