@use "src/utils/styles/colors.scss";
@use "src/utils/styles/screen.scss";

.main {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include screen.main-width;
    gap: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    @include screen.breakpoint-lg {
      flex-direction: row;
    }
    .image {
      width: 100%;
      aspect-ratio: 1/1;
      max-width: 450px;
      position: relative;
      @include screen.breakpoint-lg {
        min-width: 450px;
        width: 450px;
        height: 450px;
      }
      .img {
        overflow: hidden;
        border-radius: 12px;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      @include screen.breakpoint-lg {
        align-items: flex-start;
      }
      .title {
        color: colors.$blue-600;
        :global(body.dark) & {
          color: colors.$blue-400;
        }
        font-size: 25px;
        font-weight: 700;
        max-width: unset;
        @include screen.breakpoint-md {
          font-size: 34px;
          font-weight: 700;
        }
      }
      .tick-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        justify-content: center;
        gap: 20px;
        @include screen.breakpoint-lg {
          justify-content: flex-start;
        }
        .tick {
          display: flex;
          align-items: center;
          gap: 5px;
          .icon {
            width: 24px;
            height: 24px;
          }
          .text {
            font-size: 13px;
            font-weight: 400;
            color: colors.$slate-900;
            :global(body.dark) & {
              color: colors.$slate-100;
            }
            min-width: max-content;
            transition: color 0.2s ease-in-out;
          }
        }
      }
      .description {
        font-size: 12px;
        font-weight: 400;
        color: colors.$slate-900;
        :global(body.dark) & {
          color: colors.$slate-100;
        }
        max-width: 800px;
        text-align: center;
        @include screen.breakpoint-lg {
          font-size: 13px;
          font-weight: 400;
          max-width: unset;
          text-align: start;
        }
        transition: color 0.2s ease-in-out;
      }
      .button {
        margin-top: 10px;
        .arrow {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
