@use "src/utils/styles/colors.scss";
@use "src/utils/styles/screen.scss";

.main {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  .content {
    display: flex;
    @include screen.main-width;
    min-height: 100dvh;
    gap: 40px;
    .image {
      overflow: hidden;
      border-radius: 12px;
      min-width: 450px;
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .title {
        color: colors.$blue-600;
        font-size: 34px;
        font-weight: 700;
        max-width: 300px;
      }
      .tick-wrapper {
        display: flex;
        gap: 10px;
        width: 100%;
        gap: 20px;
        .tick {
          display: flex;
          align-items: center;
          gap: 5px;
          .icon {
            width: 24px;
            height: 24px;
          }
          .text {
            font-size: 12px;
            font-weight: 400;
            color: colors.$slate-900;
            :global(body.dark) & {
              color: colors.$slate-100;
            }
            transition: color 0.2s ease-in-out;
          }
        }
      }
      .description {
        font-size: 12px;
        font-weight: 400;
        color: colors.$slate-900;
        :global(body.dark) & {
          color: colors.$slate-100;
        }
        transition: color 0.2s ease-in-out;
      }
      .button {
        margin-top: 10px;
      }
    }
  }
}
