@use "/src/utils/styles/colors.scss";
@use "/src/utils/styles/screen.scss";

.Button-root {
  border: none;
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6px 6px colors.$blue-500 10;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  font-weight: 700;
  font-size: 13px;
  padding: 0 20px;
  box-sizing: border-box;
  width: fit-content;
  height: 48px;
  min-width: 100px;
  border-radius: 8px;
  outline: none;
  @include screen.breakpoint-xl {
    font-size: 14px;
    font-weight: 700;
  }

  &.primary {
    background-color: colors.$blue-600;
    color: #fff;
    body.dark & {
      background-color: colors.$blue-700;
    }
    &:hover {
      background-color: colors.$blue-700;
      body.dark & {
        background-color: colors.$blue-800;
      }
    }
  }

  &.secondary {
    background-color: transparent;
    border: 1px solid colors.$blue-600;
    color: #fff;
  }

  &.secondary-white {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: colors.$blue-600;
    }
  }

  &.neutral {
    background-color: colors.$slate-50;
    color: colors.$blue-500;
    body.dark & {
      background-color: colors.$slate-800;
      color: colors.$blue-50;
    }
    &:hover {
      background-color: colors.$slate-300;
      body.dark & {
        background-color: colors.$slate-900;
      }
    }
  }

  &:disabled {
    background-color: colors.$slate-300;
    border: 1px solid colors.$slate-400;
    color: colors.$slate-400;
    cursor: not-allowed;
  }

  .Button-start-icon,
  .Button-end-icon {
    display: flex;
  }
  &.has-start-icon {
    padding: 0 20px 0 10px;
  }
  &.has-end-icon {
    padding: 0 10px 0 20px;
  }
  &.has-start-icon.has-end-icon {
    padding: 0 10px;
  }
  transition: 0.2s ease all;
}
